@import url('font.css');
@import url('reset.css');
@import url('clearfix.css');
@import url('dashboard.css');



body {
	background-color: #cccccc;
	font-size: 14px;
	font-weight: 600;
}

.paper {
	background-color: #fff;
}

h1 {
	font-size: 24px;
	font-weight: 700;
	padding: 40px 0 40px 70px;
}

table {
	width: 100%;
}

thead {
	background-color: #2980b9;
	color: #fff;
	font-weight: 700;
}

thead tr th {
	padding: 15px 0;
}

tr {
	text-align: left;
	padding-left: 70px;
}

tbody tr:first-child {
	margin-top: 70px;
}

tr td:first-child:not(.badge), th:first-child {
	padding-left: 70px;
}

.divider {
	border-top: 1px solid #e2e2e2	
}

.badge {
	padding: 4px 40px;
	background-color: #f1c40f;
	color: #fff;	
	position: absolute;
	font-size: 12px;
	margin-left: 70px;
	text-align: center;
	box-sizing: border-box;
}