*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration: none;
  }
  body{background-color: rgb(255, 255, 255)}
  header{
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  #logo{
    position:absolute;
    margin-left: 100px;
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #0F1626;
  }
  .navbar{
    height: 100%;
    width: 40%;
    position: relative;
    float: right;
    left: 100px;
  }
  ul{
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 0;
  }
  li{
    display: inline-block;
    padding-top: 30px;
  }
  li > a{
    color: #000;
    cursor: pointer;
    margin-left: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
  }
  li > a:hover{
      color: #000;
  }
  /*
  =============
  First section
  =============
  */
  .first-section{
      height: 600px;
      width: 90%;
      position: relative;
      top: 70px;
      left: 5%;
      display: flex;
  }
  #wrapper{
      height: 100%;
      width: 50%;
      background: #7bed9f;
  }
  #logo-state{
      width: 100%;
      position: relative;
      top: 120px;
      left: 50px;
  }
  .envi{
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    line-height: 150%;
    color: rgb(255, 255, 255);
  }
  #logo-state2{
    width: 100%;
    position: relative;
    top: 80px;
    left: 50px;
}
.protect{
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  line-height: 150%;
  color: rgb(255, 255, 255);
}
#banner{
    height: 100%;
    width: 50%;
    background-color: #AB956A;
    overflow: hidden;
}
#banner-logo{
    height: 470px;
    width: 90%;
    padding: 30px;

}
/*
==============
Second section
==============
*/
.second-section{
    height: 600px;
    width: 90%;
    position: relative;
    left: 5%;
    display: flex;
}
#second-section-header{
    height: 100%;
    width: 50%;
    background-color: #F5F5F5;
    overflow: hidden;
}
#poster-image{
    height: 540px;
    width: 90%;
    padding: 30px;
}
#section-article-content{
    height: 100%;
    width: 50%;
    background-color: #F8F8F8;
}
#article-title{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    text-align: center;
    position: relative;
    top: 100px;
}
#line-divider{
    display:none;

}
#article-content{
    padding: 50px;
    text-align: justify;
    line-height: 150%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    position: absolute;
    margin-top: 70px;
    overflow: hidden;
    color: #333;
    font-weight: 600;
}
/*third-section*/
.third-section{
    height: 550px;
    width: 50%;
    background-color: turquoise;
    border-radius: 100%;
    position: relative;
    left: 320px;
    background: linear-gradient(1310deg, #00C9FF, #92FE9D);
    background-size: 10px 100%;
    animation: animate 5s linear infinite;
}
@keyframes animate {
    0% {box-shadow: 0 0 0 0 rgba(255, 109, 74, 0.7)}
    50% {box-shadow: 0 0 0 50px rgba(255, 109, 74, 0)}
    100% {box-shadow: 0 0 0 50px0 rgba(255, 109, 74, 0)}
}
/*
==============
Fourth section
==============
*/
.fourth-section{
    height: 1000px;
    width: 90%;
    position: relative;
    left: 5%;
    display: flex;
}
.section-gallery{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#gallery-divider{
    height: 50%;
    width: 100%;
    display: flex;
}
#content1{
    height: 100%;
    width: 50%;
    background-color: #AB987A;
    overflow: hidden;
}
#asset1{
    height: 450px;
    width: 90%;
    padding: 25px;
}
#content2{
    height: 100%;
    width: 50%;
    background-color: #AB956A;
    overflow: hidden;
}
#asset2{
    height: 450px;
    width: 90%;
    padding: 25px;
}
#gallery-divider2{
    height: 50%;
    width: 50%;
    background-color: #F8F8F8;
    overflow: hidden;
}
#asset3{
    height: 450px;
    width: 90%;
    padding: 25px;
}
#gallery-divider3{
    height: 50%;
    width: 50%;
    position: relative;
    top: -50%;
    left: 50%;
    background-color: #F5F5F5;
    overflow: hidden;
}
#asset4{
    height: 450px;
    width: 90%;
    padding: 25px;
}
/*
=============
Sixth section
=============
*/
.sixth-section{
    height: 700px;
    width: 90%;
    position: relative;
    left: 5%;
    display: flex;
}
#content-article{
    height: 100%;
    width: 50%;
    background-color: #AB987A;
    overflow: hidden;
}
#title-content{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    text-align: center;
    position: relative;
    top: 50px;

}

#article-content2{
    text-align: justify;
    line-height: 150%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    position: absolute;
    margin-top: 70px;
    overflow: hidden;
    color: #333;
    padding-left: 20px;
    padding-right: 600px;
}
/*
======
Footer
======
*/
footer{
    height: 200px;
    width: 100%;
    background-color: #000000;
    position: absolute;
    margin-top: 100px;
    display: flex;
}
#barangay-logo{
    height: 100%;
    width: 50%;
}
#brgy-logo{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #ff7f50;
    position: relative;
    top: 20px;
}
#barangay-contact{
    height: 100%;
    width: 50%;
}
#contact-header{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #ff7f50;
    padding: 20px;
}
span{
    padding: 20px;
    line-height: 150%;
    color: #ff7f50;
    font-family: 'Open Sans Condensed', sans-serif;
}
/*
=============
Community CSS
=============
*/

.c-first-section{
    height: 1000px;
    width: 90%;
    position: relative;
    top: 70px;
    left: 5%;
    overflow-y: hidden;
}
#wrapper-image-section{
    height: 50%;
    width: 100%;
    background-color: #000; 
    display: flex;
    overflow-y: hidden;
}
#image-child-first{
    height: 100%;
    width: 33.333%;
    background-color: green;
    overflow: hidden;
}
#child-image{
    height: 100%;
    width: 100%;
}
#image-child-second{
    height: 100%;
    width: 33.333%;
    background-color: powderblue;
    overflow: hidden;
}
#child-image2{
    height: 100%;
    width: 100%;
}
#image-child-third{
    height: 100%;
    width: 33.333%;
    background-color: palegreen;
    overflow: hidden;
}
#child-image3{
    height: 100%;
    width: 100%;
}
#wrapper-image-section2{
    height: 50%;
    width: 100%;
    display: flex;
    overflow-y: hidden;
}
#image-child-fourth{
    height: 100%;
    width: 33.333%;
    background-color: palegreen;
    overflow: hidden;
}
#child-image4{
    height: 100%;
    width: 100%;
}
#image-child-fifth{
    height: 100%;
    width: 33.333%;
    background-color: powderblue;
    overflow: hidden;
}
#child-image5{
    height: 100%;
    width: 100%;
}
#image-child-sixth{
    height: 100%;
    width: 33.333%;
    background-color: green;
    overflow: hidden;
}
#child-image6{
    height: 100%;
    width: 100%;
}
/*
==============
Second section
*/
.c-second-section{
    height: 600px;
    width: 90%;
    position: relative;
    left: 5%;
    overflow-y: hidden;
    background-color: #333;
    display: flex;
}
#article-community-content{
    height: 100%;
    width: 50%;
    background-color: orange;
}
#community-content{
    text-align: justify;
    padding: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 150%;
}
#brgy-act{
    height: 100%;
    width: 50%;
    background-color: red;
}
#activity-advocacy{
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 150%;
    font-size: 25px;
    padding: 20px;
}
/*
=========
About CSS
=========
*/
.a-first-section{
    height: 500px;
    width: 100%;
    position: relative;
    top: 70px;
}
#banner-about-overlay{
    height: 80%;
    width: 70%;
    background-color: #333;
    position: relative;
    top: 100px;
    left: 100px;
    overflow: hidden;
}
#banner-link{
    height: 100%;
    width: 100%;
}