*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration: none;
  }
  header{
    height: 100%;
    width: 15%;
    position: fixed;
    background-color: #333;
  }
  #logo{
    position:absolute;
    margin-left: 10px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: rgb(46, 204, 113);
  }
  .navbar{
    height: 50%;
    width: 100%;
    position: absolute;
    margin-top: 100px;
  }
  ul{
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 0;
  }
  li{
    display: block;
    padding-top: 20px;
  }
  li > a{
    color: rgb(128, 139, 142);
    cursor: pointer;
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
  }
  li > a:hover{
      color: rgb(243, 156, 18);
  }
  /*
  =============
  First section
  =============
  */
  .first-section{
    height: 500px;
    width: 85%;
    margin-left: 15%;
    background-color: #fff;
    display: flex;
  }
  #wrapper{
    height: 100%;
    width: 50%;
    background-color: rgb(248, 248, 248);
  }
  #logo-state{
    position: relative;
    top: 100px;
    background-color: rgb(30, 39, 46);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .envi{
    color: rgb(236, 240, 241);
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    text-align: center;
    padding: 20px;
  }
  #logo-state2{
    position: relative;
    top: 100px;
    background-color: rgb(30, 39, 46);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .protect{
    color: rgb(236, 240, 241);
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    text-align: center;
    padding: 20px;
  }
  #banner{
    height: 100%;
    width: 50%;
    overflow-y: hidden;
  }
  #banner-logo{
    height: 100%;
    width: 100%;
  }
  /*
  ==============
  Second section
  ==============
  */
  .second-section{
    height: 500px;
    width: 100%;
    margin-left: 15%;
    background-color: yellow;
    display: flex;
  }
  #second-section-header{
    height: 100%;
    width: 50%;
    background-color: red;
  }
  #section-article-content{
    height: 100%;
    width: 50%;
    background-color: blue;
  }
  